





.coming-soon{
	text-align: center;
	background: rgb(236, 236, 236);
	width:60%;
	margin:5% 12%;
	padding:100px;
}

.coming-soon h1{
	font-size: 5rem;
}

.coming-soon h4{
	font-size: 1.5rem;
}











*{
	margin:0;
	padding:0;
	font-family: abel;
}


a{
	text-decoration:none;
	color:black;
	font-weight: bold;
}

li{
	list-style: none;
}

.btn{
    border: none;
    padding: 0.8rem 2.5rem;
    font-size: 1rem;
	color:white;
	font-weight: bold;
    cursor: pointer;
	transition: all 0.4s;
	background-color: #e62e00;
}

.btn:hover{
	box-shadow:0px 5px 10px #a8a8a8;
}

.flex{
	display:flex;
	flex-direction: row;
	flex-wrap: wrap;
}


.nav{
    background: white;
    padding: 0 2rem;
    height: 0rem;
    min-height: 10vh;
    overflow: hidden;
    transition: height 1s ease-in-out;
}

.nav .nav-menu{    
    justify-content: space-between;
}

.nav .toggle-collapse{
    position: absolute;
    top: 0%;
    width: 90%;
    cursor: pointer;
    display: none;
}

.nav .toggle-collapse .toggle-icons{
    display: flex;
    justify-content: flex-end;
    padding: 1.7rem 0;
}

.nav .toggle-collapse .toggle-icons i{
    font-size: 1.4rem;;
}

.collapse{
    height: 30rem;
}

.nav .nav-items{
    display: flex;
    margin: 0;
}

.nav .nav-items .nav-link{
	overflow: hidden;
}

.nav .nav-items .nav-link a{
    padding: 1.6rem 1rem;
    font-size: 1.1rem;
    position: relative;
	line-height: 65px;
}

.nav .nav-items .nav-link:hover,
.nav .nav-items .nav-link a:hover{
    background-color: #e62e00;
}

.nav .nav-items .nav-link:hover a{
    color: white;
}

.nav .nav-brand a{
    font-size: 1.6rem;
	margin:0.7rem 0;
    padding: 0.3rem 1rem;
    display: block;
    font-size: 1.6rem;
	border-left:5px solid #e62e00;
	color:#e62e00;
}

.nav .social{
    padding: 1.4rem 0
}

.nav .social i{
    padding: 0 .2rem;
}

.nav .social i:hover{
	color:#e62e00;
	animation:rotate 0.6s ease-out;
}


@keyframes rotate{
	0%{
		transform: rotate(20deg);
	}
	10%{
		transform: rotate(40deg);
	}
	20%{
		transform: rotate(70deg);
	}
	30%{
		transform: rotate(110deg);
	}
	40%{
		transform: rotate(150deg);
	}
	50%{
		transform: rotate(180deg);
	}
	60%{
		transform: rotate(210deg);
	}
	70%{
		transform: rotate(250deg);
	}
	80%{
		transform: rotate(290deg);
	}
	90%{
		transform: rotate(320deg);
	}
	100%{
		transform: rotate(360deg);
	}
}


/*    hero     */

.hero .site-title{
    background: url('../assets/Background-image.png');
    background-size: cover;
    height: 110vh;
    display: flex;
    justify-content: center;
}

.hero .site-title .site-background{
    padding-top: 11rem;
    text-align: center;
    color:white;
}

.hero .site-title h1{
    margin: .3rem;
	font-size: 3rem;
}

.hero .site-title h3{
	margin: .3rem;
	font-size: 1.3rem;
}



/*          featured articles            */

.featured-data{
	margin:5% 10%;
	padding:0 10px;
	display:flex;
	flex-direction: row;
}

.featured-articles h1{
	text-align: center;
	margin-top: 50px;
	font-size: 2.5rem;;
}

.featured-articles .featured-single-article{
	width:90%;
	margin:1%;
	overflow: hidden;
	box-shadow: 0 15px 20px rgb(0 0 0 / 20%);
}

.featured-data{
	text-align: center;
}

.featured-single-article img{
	width:100%;
}

.featured-single-article h3{
	margin:20px;
}




/*       Blog Posts     */

.blogs{
	margin:10%;
	display: flex;
	overflow:hidden;
}

.blogs img{
	width:100%;
	transition: all 1s;
}

.blogs .left-part-blogs{
	width:70%;
	margin:2%;
}

.single-blog-post-img{
	overflow: hidden;
}

.single-blog-post-img img:hover{
	transform: scale(1.3);
}

.single-blog-post-details h3{
	font-size: 1.5rem;
	margin:20px 0;
}


.single-blog-post-details p{
	font-size: 1.1rem;
	margin:20px 0;
	color:#686666da;
}


.blogs .right-part-suggestion{
	width:25%;
	margin:2%;
}

.newslatter{
	padding:20px 25px;
	background-color: rgb(236, 236, 236);
}

.newslatter p{
	padding:30px 0;
	font-weight: bold;
	color:#686666da;
}

.newslatter input{
	background: transparent;
	border:none;
	border-bottom:2px solid grey;
	padding:10px 0;
	width:100%;
}

/*        topics       */

.topics{
	margin:80px 0 0 0;
	padding:20px 25px;
	background-color: rgb(236, 236, 236);
}

.topics h1{
	margin:10px 0 30px 0;
}

.topics p{
	margin:20px 0px;
}

.popular-post{
	margin:100px 0;
}

.popular-tags{
	margin:80px 0 0 0;
	padding:20px 25px;
	background-color: rgb(236, 236, 236);
}

.popular-tags h1{
	margin:10px 0 20px 0;
}

.popular-tags a{
	padding:8px 16px;
	margin:5px 2px;
	font-weight: bold;
	position:relative;
	width:60px;
	border-left:3px solid black;
	text-align:center;
	display: inline-block;
	transition:all 0.3s;
}

.popular-tags a:hover{
	background:#e62e00;
	color:white;
}








/*            Footer           */


.footer-section {
	border-top: 3px solid #e62e00;
	position:relative;
	background-color: rgb(236, 236, 236);
}

.footer-warp {
	max-width: 1559px;
	padding: 0 15px;
	margin: 0 auto;
}

.footer-top{
	padding:20px 0 0 6%;
}

.footer-section .about-us{
	width:20%;
	padding:20px 0;
}

.footer-section .about-us p{
	margin:30px 0;
	font-weight: bold;
	color:#686666da;
}

.footer-section .newslatter{
	width:20%;
}

.instagram{
	width:27%;
	padding:20px;
}

.instagram h1{
	margin-bottom:20px;
}

.instagram-img{
	width:25%;
	display:inline-block;
	overflow: hidden;
}

.instagram img{
	width:100%;
	transition:all 0.4s;
}

.instagram img:hover{
	transform:scale(2);
}

.footer-section .follow{
	width:10%;
	padding:20px;
}

.footer-section .follow h3{
	margin:10px 0;
}
.footer-section .follow .fa-instagram,.footer-section .follow .fa-twitter{
	margin:10px;
}
.footer-bottom {
	overflow: hidden;
	background-color: rgb(236, 236, 236);
	padding: 20px 0;
	margin-top: 50px;
}

.footer-menu {
	list-style: none;
	float: right;
}

.footer-menu li {
	display: inline;
}

.footer-menu li:last-child a {
	padding-right: 0;
	margin-right: 0;
}

.footer-menu li:last-child a:after {
	display: none;
}

.footer-menu li a {
	display: inline-block;
	font-size: 14px;
	font-weight: 600;
	color: #474747;
	padding-right: 10px;
	margin-right: 10px;
	position: relative;
}

.footer-menu li a:after {
	position: absolute;
	content: "|";
	right: 0;
	top: 0;
}

.copyright {
	padding-top: 20px;
	float: left;
	font-size: 14px;
	font-weight: 600;
	color: #474747;
}






/*       contact form         */


.contact-msg{
	text-align:center;
	margin-top:20px;
}

.contact-msg h1{
	font-size: 2.5rem;
	width:15%;
	margin:0 44.5%;
	border-left:5px solid #e62e00;
}

.contact-msg p{
	font-size: 1.3rem;
	font-weight: bold;
	color:#686666da;
}

.contact-form{
	margin:0% 20% 0 25%;
	box-shadow: 0px 0px 2px #000;
}

.contact-form form{
	margin:10%;
	padding:5% 0;
	text-align:center;
}

.contact-form .name{
	width:40%;
	padding:2%;
	margin:1%;
}

.contact-form .email{
	width:87%;
	padding:2%;
	margin:1%;
}

.contact-form textarea{
	width:87%;
	padding:2%;
	margin:1%;
	background: #edf4f6;
	border:none;
	border-bottom:2px solid #474747;
}


.contact-form input{
	border:none;
	background: #edf4f6;
	border-bottom: 2px solid #474747;
}

.contact-form button.btn{
    border: none;
    padding: 0.8rem 13.5%;
	margin: 20px 0;
    font-size: 1rem;
	color:white;
	font-weight: bolder;
    cursor: pointer;
	transition: all 0.4s;
	background-color: #e62e00;
}







.ad-banner{
	margin:2% 8%;
}

.ad-banner img{
	width:100%;
}


.detailed-blog{
	width:84%;
	margin:2% 8%;
	display: flex;
}

.detailed-blog .detailed-blog-content{
	width:70%;
	margin:2%;
}

.detailed-blog .detailed-blog-suggest{
	width:25%;
	margin:2%;
}

.blog-author{
	display: inline-block;
}
.detailed-blog .author-img img{
	width:20%;
	border-radius:200%;
}

.detailed-blog .author-img{
	overflow:hidden;
}

.detailed-blog .deatiled-blog-content-full p{
	margin:20px 50px 20px 20px;
	font-size: 1.1rem;
	font-weight: bold;
	color:#353434da;
}

.detailed-blog .deatiled-blog-content-full h3{
	color:#686666da;
}

.detailed-blog .deatiled-blog-content-full .share-at i{
	padding:15px 11%;
	color:white;
	background-color: red;
}

.detailed-blog .deatiled-blog-content-full .share-at .fa-facebook-f{
	background:#2e5df8;
}

.detailed-blog .deatiled-blog-content-full .share-at .fa-instagram{
	background:rgb(245, 0, 122);
}

.detailed-blog .deatiled-blog-content-full .share-at .fa-twitter{
	background:rgb(0, 198, 248);
}

.detailed-blog .deatiled-blog-content-full .share-at .fa-youtube{
	background:rgb(238, 0, 0);
}



.comments{
	margin:100px 0;	
}

.single-comment{
	overflow:hidden;
	padding:50px 40px 50px 100px;
	width:60%;
	background:rgb(236, 236, 236);
}

.single-comment img{
	Width:10%;
	left:70px;
	border-radius:50%;
	position: absolute;
}

.single-comment h2{
	margin:2px 0 20px 0;
}

.single-comment p{
	margin:10px 0;
	font-weight: bold;
	color:#7a7a7ada;
}

.single-comment h4{
	color:#7a7a7ada;
}

.comments .write-comment{
	padding:50px 0;
}

.comments .write-comment h1{
	margin:20px 0;
	font-size: 2.5rem;
}

.comments .write-comment p{
	font-weight: bold;
	margin:20px 0 1px 0;
}
input,textarea{
	width:60%;
	border:none;
	border:2px solid rgb(201, 201, 201);
	padding:10px;
}

input{
	height:10px;
}

input[type=checkbox]{
	width:2%;
	margin:20px 5px;
	border:none;
}

.write-comment a{
    border: none;
    padding: 0.8rem 6%;
	margin: 30px 0;
    font-size: 1rem;
	font-weight: bolder;
    cursor: pointer;
	background-color: #e62e00;
	color:white;
}